* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
}
.container .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20%;
}
.container .btn :active {
  transform: translateY(5px);
}
.container .red {
  background-color: red;
}
.container .green {
  background-color: green;
}
.container .blue {
  background-color: blue;
}
.container .yellow {
  background-color: yellow;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 1010px) {
  .container .btn {
    height: 150px;
    width: 150px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .container .btn {
    height: 100px;
    width: 100px;
    margin: 5px;
  }
  #level-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .container .btn {
    height: 70px;
    width: 70px;
    margin: 2.5px;
  }
  #level-title {
    font-size: 1rem;
  }
}