* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Press Start 2P', cursive;
   text-align: center;
   background-color: #011F3F;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#level-title {
   font-size: 3rem;
   margin: 200px 0 10px;
   padding: 15px;
   color: #FEF2BF;
}

.container {
   display: inline-block;
   width: 50%;
   height: auto;
   margin-bottom: 20px;


   .btn {
      margin: 10px;
      display: inline-block;
      height: 150px;
      width: 150px;
      border: 5px solid black;
      border-radius: 20%;

      :active {
         transform: translateY(5px);
      }
   }

   .red {
      background-color: red;
   }

   .green {
      background-color: green;
   }

   .blue {
      background-color: blue;
   }

   .yellow {
      background-color: yellow;
   }

}

.btn-play {
   padding: 10px;
   font-size: 1rem;
   font-family: 'Press Start 2P', cursive;
   border-radius: 20px;
   border: 5px solid;
}

.game-over {
   background-color: red;
   opacity: 0.8;
}

.pressed {
   box-shadow: 0 0 20px white;
   background-color: grey;
}


@media screen and (max-width: 768px) {
   .container .btn {
      height: 100px;
      width: 100px;
      margin: 5px;
   }

   #level-title {
      font-size: 2rem;
   }
}

@media screen and (max-width: 450px) {
   .container .btn {
      height: 60px;
      width: 60px;
   }

   #level-title {
      font-size: 1rem;
   }
}
